# Entorno virtual de Python
venv310/

# Cachés de Python
__pycache__/
*.py[cod]
*.pyo

# Archivos de log
*.log

# Archivos de entorno
.env

# Configuración de VSCode
.vscode/

# Node.js (Angular)
node_modules/
dist/
.angular/

# Archivos de sistema
.DS_Store
Thumbs.db
